@import 'c/cssLibrary';

.tile {
    height:450px;
    /* width:600px; */
    /* border-width: 2px; */
    border-style: solid;
    background-color: #f4f9f9;
    border-radius: 25px;
    cursor: pointer;
}